<?php
$title = 'Listado Contratos';
$this->headTitle ($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
	<a href="<?php echo $this->url('contract', array('action'=>'add'));?>">Agregar un nuevo contrato</a>
</p>

<table class="table">
	<tr>
		<th>Numero</th>
		<th>Fecha</th>
		<th>Nota</th>
		<th>&nbsp;</th>
	</tr>
</table>