<?php
$title = 'Agregar un nuevo cliente';
$this->headTitle ( $title );
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<form class="form-horizontal" role="form"
	action="<?php echo $this->url('client', array('action' => 'add')); ?>"
	method="post">
<?php foreach ($form as $element):?>
	<div class="form-group">
		<label for="<?php echo $element->getName(); ?>"
			class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
		<div class="col-sm-10">
		 	<?php echo $this->formelement($element); ?>
		</div>
		<?php echo $this->formElementErrors($element); ?>

	</div>
<?php endforeach;?>
</form>