<?php
$title = 'Listado Clientes';
$this->headTitle ( $title );
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
	<a href="<?php echo $this->url('client', array('action'=>'add'));?>">Agregar un nuevo cliente</a>
</p>

<table class="table">
	<tr>
		<th>Nombre</th>
		<th>Razon Social</th>
		<th>Rif</th>
		<th>Direcci&oacute;n</th>
		<th>&nbsp;</th>
	</tr>
<?php foreach ($clients as $cliente) : ?>
<tr>
		<td><?php echo $this->escapeHtml($cliente->getName());?></td>
		<td><?php echo $this->escapeHtml($cliente->getFiscalName());?></td>
		<td><?php echo $this->escapeHtml($cliente->getRif());?></td>
		<td><?php echo $this->escapeHtml($cliente->getAddress());?></td>
		<td><a href="<?php	echo $this->url('client', array ('action' => 'edit','id' => $cliente->getId())); ?>">Edit</a> <a href="<?php echo $this->url ( 'client', array ('action' => 'delete','id' => $cliente->getId ())); ?>">Delete</a></td>
	</tr>
<?php endforeach; ?>
</table>